.vscode
.ipynb_checkpoints
*/.ipynb_checkpoints/*
sample_sets_info.xlsx
*imgs_analysis*
/morph_gen/sim_morphs/*
/beamline_data/*
trexs_plots/*
.DS_Store
__pycache__
test*
job*
*.pptx
mask*
/learning_resources/*
prsoxs_plots/*
nexafs_plots/*
afm_data/*
auto-summaries/*
*analysis_*
testing*
images_data*
gi-trexs_plots*
*open3d*
*nofuzz_fibril*
*_diam*
*cyrsoxs_plots*
*fixed_fibrils*
*references_plots*

